:root {
	--bodyBg: #fdfdfdef;
	--headerBg: rgba(0, 0, 0, 0.9);
	--h1Col: white;


	--tempBord: 1px solid red;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--bodyBg);
	font-family: "QuickSand", sans-serif;
	letter-spacing: 0.7px;
}

/* Header */
header {
	width: 100%;
	padding: 10px;
	background: var(--headerBg);
}

#logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

h1 {
	color: var(--h1Col);
	font-size: 1.5rem;
}

/* Game */
#gameCont {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 2% 5%;
	margin-top: clamp(30px, 5%, 40px);
}

#cont {
	display: grid;
	grid-template-columns: repeat(3, 10vw);
	grid-template-rows: repeat(3, 10vw);
	gap: 1.5%; 
}

.box {
	border: 2px solid black;
	border-radius: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6vw;
	font-weight: bold;
	cursor: pointer;
}

.box:hover {
	background: skyblue;
}

#imgBox img {
	width: 0;
	transition: width 1s ease;
}
